/*!
Author: Florian Hitz
Author URI: https://flenix.ch
Description: Awesome website about the man itself, me
Version: 1.0.0
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
# Forms
# Layout
	## Header
	## Content
	## Footer
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "variables/variables";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "layout/header";

/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
@import "layout/content";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "layout/footer";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";